## Personal files (do not commit)
assets/images/photo cv 2026.jpeg
assets/images/Photp_cv.jpeg
assets/Cv_Oussama_El_Kourdini.pdf


## OS / Editor
.DS_Store
Thumbs.db
.vscode/

## Dependencies
node_modules/

## Environment
.env
